.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}

@media screen and (max-width: 680px) {
    .add-form input {
        width: 38%;
    }
}

@media screen and (max-width: 540px) {
    .form-control, .add-form .btn {
        font-size: 0.9rem;
    }

    .h3, h3 {
        font-size: calc(1rem + .6vw);
    }
}

@media screen and (max-width: 465px) {
    .add-form {
        flex-direction: column;
    }

    .add-form input {
        width: 100%;
        margin-bottom: 5px;
    }

    .form-control, .add-form .btn {
        font-size: 0.8rem;
    }

    .h3, h3 {
        font-size: calc(0.7rem + .9vw);
    }

    .add-form .btn {
        width: 50%;
        margin-top: 17px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 380px) {
    .h3, h3 {
        font-size: calc(0.65rem + .9vw);
    }
}

